<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <script type="text/javascript">

     function goback(){
         window.location.href ="{{ url_for('student_home') }}";
     }
   </script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/applyleave.css') }}">

<body>
  {% include 'header.html' %}
  <div class="container">
    <div class="title">Apply Outing</div>
    <div class="content">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form action="{{ url_for('apply_outing') }}" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" name="name" placeholder="Enter your name"  required>
          </div>
          <div class="input-box">
            <span class="details">Reg No</span>
            <input type="text" name="regno" placeholder="Enter your regno" required>
          </div>
          <div class="input-box">
            <span class="details">Block Name</span>
            <input type="text" name="bname" placeholder="Enter your block name"  required>
          </div>
          <div class="input-box">
            <span class="details">Room no</span>
            <input type="number" name="rno" placeholder="Enter your room " required>
          </div>
          <div class="input-box">
            <span class="details">From</span>
            <input type="time"  name="fromdate" id="fromdate" placeholder="Enter from time " required>
          </div>
          <div class="input-box">
            <span class="details">To</span>
            <input type="time" name="todate" id="todate" placeholder="Enter to time"  required>
          </div>
          <div class="input-box">
            <span class="details">Reason</span>
            <input type="textarea" name="reason" id="reason" placeholder="Reason"  required>
          </div>
        </div>

        <div class="button">
          <input type="button" value="Go Back" onclick="goback()">
          <input type="submit" name="submit" style="margin-left:85px;" >
        </div>
      </form>
    </div>
  </div>

</body>
</html>