<header style="display: flex;
                align-items: center;
                justify-content: space-between;
                height: 60px;
                background: black;
                color: white;
                padding: 0 50px;
                font-size: 25px;
                ">
    <label class="logo">VIT-AP University</label>
    <button><a style="
        text-decoration: none;
        padding: 10px; 
        font-weight: 700;
        font-size: 20px;
        " href="{{ url_for('index') }}">Logout</a></button>
</header>